body {
    margin: 0px;
    padding: 0px;
    background: #f9f9f9;
    color: #333333;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

h1 {
    color: #1B9BB8;
    font-size: 80px;
}

#content {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

p {
    margin-bottom: 8px;
}

#intro {
    color: #555;
    font-size: 90%;
}

#player {
    width: 460px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    text-align: center;
}

#footer {
    position: absolute;
    left: 0px; bottom: 0px;
    width: 100%;
    font-size: 20px;
    background: #f2f2f2;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 8px;
}

#footer a {
    color: #E94E1B;
    text-decoration: none;
}

#footer a:hover {
    color: #1B9BB8;
    font-weight: bold;
}

.fel { 
    color: #E94E1B; 
    padding: 2px; 
    border: 2px solid #E94E1B;
}
